<!doctype html>
<html>
  <head>
  </head>
  <body>
  <h1>Add a New Person</h1>
      <form method="post" action="/people">
      <input type="text" placeholder="First Name" name="firstname">
      <input type="text" placeholder="Last Name" name="lastname">
      <button>Add New Person</button>
    </form>



  </body>
</html>